{% extends 'base.html.twig' %}

{% block title %}Accueil — BouxiWebStudio{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Bienvenue sur BouxiWebStudio</h1>

        <p class="mb-4">
            Environnement Symfony opérationnel ✅<br>
            Tu peux maintenant te connecter ou créer un compte (bientôt).
        </p>

        <a href="{{ path('app_login') }}" class="btn btn-primary">
            Se connecter
        </a>
    </div>
{% endblock %}
